.social{
width:100%;
height:100vh;
padding:0;
box-sizing:border-box;
background-image:url("../../assets/images/PNG/background2.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

h1{
    margin:0;
}

.social-media-image {
    width: 80%;
    height: 100vh;
}