.header{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height:80px;
    background-color:#0098ff;
    &__nav-link{
        text-decoration:none;
        width:80%;
        margin:0;
        padding:0;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        list-style: none;
        li{
            display:inline;
        }
        li:hover{
            color:brown;
            cursor:grap;
        }
    }
    &__router-Link{
        text-decoration:none;
    }
}